<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LocalConnection"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=C:\Users\Stijn\Documents\Scrumbags\Scrumbags\Scrumbags\App_Data\Database.mdf;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>