/* --------------------------------- */
/* ALGEMENE CODE VOOR DE HELE WEBSITE */
/* -------------------------------- */
html, body {
    min-height: 100%;
    min-width: 600px;
    width: 100%;
    margin: 0;
}
body {
    background: linear-gradient(to bottom right, white, red) repeat-y;
    background-position: center;
    background-size: cover;  
}
table {
    background: rgba(0, 0, 0, 0.4);
    color: white;
}
table td, th {
    padding: 10px;
}    
form {
    margin: 0;
}
h1 {
    color: white;
    margin: 0 0 20px 0;
}
a {
    color: white;
}
label {
    color: white;
}
/* Content div met transparante background */
.DivWithBackground {
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    margin: 10px;
    padding: 10px;
    width: auto;
}
/* Content div voor elke pagina */
.TableDiv {
    padding: 10px;
}
/* Zorgt ervoor dat elke dag-kolom een donkere achtergrond heeft */
.DayRow {
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
/* Zorgt voor een duidelijke weergave van de tabel titels */
.TableTitle {
    background: rgba(255, 125, 125, 0.3);
    color: #D6D6D6;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
/* Messages op de website */
.Errormessage {
    color: red;
}
.Message {
    border-width: 2px;
    padding: 5px;
    margin: 3px;
}
/* Kleur tekst selectievakjes */
.SelectionLabels {
    color: white;
}

/* ------ */
/* HEADER */
/* ------ */
#masterHeader {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    margin: 0;
}
#headerLogo {
    position: absolute;
    margin: 3px 0 auto 5px;
    height: 45px;    
}
#headerLinkPlaceholder {
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 100%;
    margin-left: -60px;
    padding-left: 500px;
}
.headerLink div {
    display: inline-block;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 4px;
    padding: 10px;
    border: 1px solid gray;
}
.headerLink:hover div {
    color: red;
    background: rgba(0, 0, 0, 0.4);
}
.headerButton {
    height: 100%;
}
#LogoutHyperLink {
    float: right;
    margin-right: 440px;
}
#siteMessage {
    display: inline-block;
    position: absolute;
    color: yellow;
    margin-top: 13px;
    margin-left: 100px;
    padding-right: 5px;
    max-width: 330px;
    overflow: hidden;
}

/* ----------------------------- */
/* STYLE CODE VOOR PAGINA'S APART */
/* ----------------------------- */

/* Registratie-pagina elementen */
.Labels {
    display: inline-block;
    width: 160px;
    padding-bottom: 10px;
}
.Textboxes {
    Width: 200px;
    margin-right: 20px;
}
/* Login pagina */
#loginContainer {
    border: 1px outset gray;
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 40%;
    height: auto;
    width: 232px;
}
#loginContainer .Labels {
    display: inline-block;
    width: 140px;
    padding-bottom: 10px;
}
#loginContainer .Textboxes {
    Width: 200px;
    margin-right: 20px;
}
.LoginOptionLinks {
    display: block;
    float: right;
}