#registrationDiv .Labels {
    display: inline-block;
    width: 140px;
    padding-bottom: 10px;
    }
#registrationDiv .Textboxs {
    Width: 200px;
    margin-right: 20px;
}
.Errors {
    color: red;
}

.masterheader {
    background-color: rgba(0, 0, 0, 0.3);  
}

.masterfooter {
    background-color: rgba(0, 0, 0, 0.3);
}