<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>   
    </system.web>
  

 <connectionStrings>
   <add name="LocalConnection"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\Database.mdf;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="CloudConnection
         "
     providerName="System.Data.SqlClient"
     connectionString="workstation id=scrumbags.mssql.somee.com;packet size=4096;user id=scrumbags_SQLLogin_1;pwd=bof35a7231;data source=scrumbags.mssql.somee.com;persist security info=False;initial catalog=scrumbags" />
  </connectionStrings>
  
  <!--APPLICATIESETTINGS VOOR MAILING-->
  <appSettings>
    <add key="SendMailMessagesFromAddress" value="Yens.Proost@gmail.com"/>
    <add key="SendMailSMTPHostAddress" value="mail.dvl-sanitair.be"/>
    <add key="SendMailSMTPUserName" value="dvlsanit"/>
    <add key="SendMailSMTPUserPassword" value="bZDtNd7f"/>
    <add key="SmtpPort" value="587"/>
  </appSettings>
</configuration>
