<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <add key="SendMailMessagesFromAddress" value="Yens.Proost@gmail.com"/>
    <add key="SendMailSTMPHostAddress" value="mail.dvl-sanitair.be"/>
    <add key="SendMailSMTPUserName" value="dvlsanit"/>
    <add key="SendMailSMTPUserPassword" value="bZDtNd7f"/>
    <add key="SmtpPort" value="587"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringSomee" connectionString="Data Source=testpiet.mssql.somee.com;Persist Security Info=True;User ID=scrumbags_SQLLogin_1;Password=bof35a7231"
      providerName="System.Data.SqlClient" />
    <add name="LocalConnection"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=.\SQLEXPRESS;AttachDbFileName=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>